<main class="py-4 mx-5">
    <div class="card">
        <div class="card-body p-5">
            <h2 class="mb-3">Account settings</h2>
            <table class="table">
                <thead>
                    <tr class="text-start">
                        <th scope="col">Username:</th>
                        <td class="text-end">{{this.user.username}}</td>
                    </tr>
                    <tr class="text-start">
                        <th scope="col">Email:</th>
                        <td class="text-end">{{this.user.email}}</td>
                    </tr>
                    <tr class="text-start" id="address">
                        <th scope="col">Address:</th>
                        {{#each this.addresses}}
                        <td class="text-end">
                            {{this.street_address}}, {{this.city}}, {{this.state}}
                        </td>
                        {{else}}
                        <p>No addresses found</p>
                        {{/each}}
                    </tr>
                </thead>
            </table>
        </div>
            <div class="card-body text-end p-5">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#accountModal">
                    Edit
                </button>
            </div>
    </div>
</main>
